<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <br>
        <div class="jumbotron">
          <h1 class="display-4">Healthy Weight Challenge</h1>
          <p class="lead">Be the best you. Show the World.</p>
          <hr class="my-4">
          <p>Enter what you have been eating, find out how many calories you're eating compared to others. Work together to be at your healthiest weight.</p>
          <a class="btn btn-primary btn-lg" href="" id="logInButton" class="close" role="button">Learn More</a>
        </div>

        <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        My Profile
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <img src="./js/images/apples.jpg" alt="Fruits" id="collasibleImage">
                                <div class="card-body">
                                    Welcome to
                                    <strong>The Healhy Weight Challenge!</strong> We are here to help you reach your goals one calorie
                                    at a time. Please take a moment to record your profile information accurately so you
                                    can begin competing against other users by counting calories in a fun way.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Lifestyle
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <img src="./js/images/active.jpg" alt="Fruits" id="collasibleImage">
                                <div class="card-body">
                                    Having an active lifestyle is just as important as eating a healthy amount of calories each day. On this page, you will be
                                    able to keep track of your daily activity goals and supplemental nutrient intake; such
                                    as how many glasses of water did you consume today.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        My Blog
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <img src="./js/images/blog.jpg" alt="Fruits" id="collasibleImage">
                                <div class="card-body">
                                    Having a way to keep notes about how your day went is an important part of The Healthy Weight Challenge. Some days we fall
                                    short of our goals but being able to document what happened can keep you on the right.
                                    We encourage all our users to fill out a daily blog. You will be suprised how much you
                                    will enjoy reflecting back as you participate in this challenge. track.
                                </div>
                            </div>
                        </div>
                    </div>
         <footer>
        <p>Calorie Counter &copy; 2018 </p>
    </footer>


        {{!--
        <h1>{{msg}}</h1>
        <h2>Healthy Weight Challenge</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
      </div>
    </div>
  </div>
</div>