<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!--
        <h1>{{msg}}</h1> --}}
        <br>
        <h2>My Healthy Lifestyle List</h2>
        <br>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Goal:</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Goal Here">
          </div>
          {{!-- <div class="form-group">
            <label for="example-date">Do by:</label>
            <input type="date" class="form-control" id="example-date" aria-describedby="example-date"></input>
          </div> --}}
          <div class="form-group">
            <label for="example-description">Description:</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Goal Description Here"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>My To-Do List:</h3>
        <ul id="to-do-list" class="list-group">
          {{#each examples}} {{/each}}
        </ul>
        <br>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>